<fieldset class="form__design">
    <div class="form__design__boxOne js_fieldset_boxOne">
        <i class="fa-regular fa-object-ungroup form__design__ungroupIcon"></i>
        <legend class="form__design__title">Diseña</legend>
        <i class="fa-solid fa-chevron-up js_arrow"></i>
    </div>
    <section class="form__design__colors js_boxTwo">
        <label for="" class="form__design__label">Colores</label>
        <div class="form__design__rangeBox">
            <div class="form__design__colorInput">
                <label for="radio1" class="form__design__label" hidden></label>
                <input type="radio" name="palette" value="1" checked id="radio1"
                    class="form__design__radioBtn js_input_palette js_input_palette1 js_default_radio">
                <div class="form__design__p1c1 form__design__colorBox"></div>
                <div class="form__design__p1c2 form__design__colorBox"></div>
                <div class="form__design__p1c3 form__design__colorBox"></div>
            </div>
            <div class="form__design__colorInput">
                <label for="radio2" class="form__design__label" hidden></label>
                <input type="radio" name="palette" value="2" id="radio2"
                    class="form__design__radioBtn js_input_palette js_input_palette2">
                <div class="form__design__p2c1 form__design__colorBox"></div>
                <div class="form__design__p2c2 form__design__colorBox"></div>
                <div class="form__design__p2c3 form__design__colorBox"></div>
            </div>
            <div class="form__design__colorInput">
                <label for="radio3" class="form__design__label" hidden></label>
                <input type="radio" name="palette" value="3" id="radio3"
                    class="form__design__radioBtn js_input_palette js_input_palette3">
                <div class="form__design__p3c1 form__design__colorBox"></div>
                <div class="form__design__p3c2 form__design__colorBox"></div>
                <div class="form__design__p3c3 form__design__colorBox"></div>
            </div>
        </div>
    </section>
</fieldset>