<fieldset class="form__fill">
    <div class="form__fill__boxOne js_fieldset_boxOne">
        <i class="fa-regular fa-keyboard form__fill__keyboard"></i>
        <legend class="form__fill__title">Rellena</legend>
        <i class="fa-solid fa-chevron-up js_arrow upsideDown"></i>
    </div>
    <section class="form__fill__boxTwo js_boxTwo collapsed">
        <label class="form__fill__label js_resetabname" for="fullname">Nombre completo</label>
        <input class="form__fill__input js_resetable js_input" type="text" id="fullname" name="name"
            placeholder="Ej: Sally hill" pattern="[A-Za-z]">
        <label class="form__fill__label" for="job">Puesto</label>
        <input class="form__fill__input short-margin js_resetable js_input" type="text" id="job" name="job"
            placeholder="Ej: Front-end unicorn" pattern="[A-Za-z]">
        <h2 class="form__fill__label">Imagen de perfil</h2>
        <div class="form__fill__boxThree">
            <div class="form__fill__boxThree--1">
                <label class="form__fill__label--cover" for="photo">Añadir imagen</label>
                <input class="form__fill__input js_input js_image_upload_btn" type="file" id="photo" name="photo"
                    accept=".png, .svg, .webp, .jpg, .jpeg, .jfif, .pjpeg, .pjp" hidden>
            </div>
            <div class="form__fill__boxThree--2 js_mini_image"></div>
        </div>
        <label class="form__fill__label" for="email">Email</label>
        <input class="form__fill__input js_resetable js_input" type="email" id="email" name="email"
            placeholder="Ej: sally-hill@gmail.com" pattern="^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,}$">
        <label class="form__fill__label" for="phone">Teléfono</label>
        <input class="form__fill__input js_resetable js_input" type="tel" id="phone" name="phone"
            placeholder="Ej: 555-55-55-55" pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}-[0-9]{2}">
        <label class="form__fill__label" for="linkedin-url">Linkedin</label>
        <input class="form__fill__input js_resetable js_input" type="url" id="linkedin-url" name="linkedin"
            placeholder="Ej: linkedin.com/in/sally.hill"
            pattern="/^https?:\/\/(?:www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b(?:[-a-zA-Z0-9()@:%_\+.~#?&\/=]*)$/">
        <label class="form__fill__label" for="github-url">Github</label>
        <input class="form__fill__input js_resetable js_input" type="url" id="github-url" name="github"
            placeholder="Ej: @sally-hill"
            pattern="/^https?:\/\/(?:www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b(?:[-a-zA-Z0-9()@:%_\+.~#?&\/=]*)$/">
    </section>
</fieldset>